@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..9001,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font: inherit;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  height: 100%;
}

main {
  background-color: #F5F5F5;
}

h1 {
  color: #1F2D41;
}

.about, .skills-techs-wraper, .projects-container, .contact {
  padding: 0 40px;
}

.divider-custom {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.divider-custom .divider-custom-line {
  width: 72px;
  height: 5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 15px;
}
.divider-custom .divider-custom-icon {
  font-size: 25px;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 8px;
  margin-bottom: 30px;
}
.section-title .title-line {
  width: 100%;
  height: 2px;
  background-color: #1F2D41;
}

.progress-bar {
  background-color: #C6C6C6;
}
.progress-bar > div {
  background-color: #FA4F4F;
}

.main--hidden, .footer--hidden {
  display: none;
}

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
  padding: 40px;
}
.modal__content h2 {
  font: normal 600 20px/normal "Montserrat", sans-serif;
  text-align: center;
}
.modal__content figure {
  max-width: 200px;
  width: 50%;
}
.modal__close-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: #FFFFFF;
  border-radius: 60px;
  padding: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.modal__close-button svg {
  font-size: 34px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.header, .header--full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  background-color: #FA4F4F;
  color: #FFFFFF;
  text-transform: uppercase;
}
.header h1, .header--full h1 {
  color: #FFFFFF;
  align-self: start;
  margin-top: 4px;
}
.header svg, .header--full svg {
  justify-self: end;
  font-size: 30px;
}
.header .navbar, .header--full .navbar {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 30px;
}
.header .navbar__menu, .header--full .navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}
.header .navbar__menu li > a, .header--full .navbar__menu li > a {
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.06s ease;
}
.header .navbar__menu li > a:hover, .header--full .navbar__menu li > a:hover {
  border-bottom: solid 3px #FFFFFF;
}
.header .navbar__translator, .header--full .navbar__translator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header .navbar--collapsed .navbar__menu--collapsed, .header--full .navbar--collapsed .navbar__menu--collapsed {
  display: none;
}
.header .navbar--collapsed h4, .header--full .navbar--collapsed h4 {
  display: none;
}

.header--full {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 3fr 3fr;
  grid-template-areas: "title cross" "menu menu" "lang lang";
}
.header--full h1 {
  grid-area: title;
  align-self: start;
}
.header--full svg {
  grid-area: cross;
  align-self: start;
}
.header--full nav {
  grid-area: menu;
  align-self: start;
}
.header--full h4 {
  grid-area: lang;
  align-self: end;
  font: normal 500 12px/normal "Montserrat", sans-serif;
}
.header--full .navbar--opened .navbar__menu--opened {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 40px;
}

.banner {
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #1F2D41;
  color: #FFFFFF;
}
.banner h1 {
  color: #FFFFFF;
  text-transform: uppercase;
}
.banner__foto {
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 50%;
  background: url(../assets/logo2.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about__content {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  gap: 20px;
}
.about__content article {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0;
}

.skills-techs-wraper {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 60px;
  margin-bottom: 80px;
  padding: 0;
}
.skills-techs-wraper h1 {
  padding: 30px 40px;
  background: url("../assets/HABILIDADES-FONDO.png");
}
.skills-techs-wraper__skill-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 30px;
  padding: 0 40px;
}
.skills-techs-wraper__skill-container--skill {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
.skills-techs-wraper__skill-container--skill :last-child {
  justify-self: flex-end;
}
.skills-techs-wraper .tech-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 50px;
  padding: 0 40px;
}
.skills-techs-wraper .tech-container__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.skills-techs-wraper .tech-container__images figure {
  width: 60px;
}
.skills-techs-wraper .tech-container__images figure img {
  transition: all 0.3s ease-in-out;
}
.skills-techs-wraper .tech-container__images figure :hover {
  transform: scale(1.2);
}

.projects-container {
  margin-bottom: 80px;
}
.projects-container__project-wraper {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding: 20px 0;
}
.projects-container ::-webkit-scrollbar {
  display: none;
}
.projects-container__project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex: 0 0 auto;
  width: 370px;
  padding: 50px 20px;
  border-radius: 16px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);
  background-color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.projects-container__project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.projects-container__project-content h2 {
  text-align: center;
}
.projects-container__project-content figure {
  width: 100px;
}
.projects-container__project-content p {
  width: 90%;
  text-align: center;
}
.projects-container__project-button {
  width: 90%;
}
.projects-container__project-button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  flex-shrink: 0;
  padding: 20px 0;
  background-color: #1F2D41;
  border-radius: 16px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.projects-container__project-button button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.26);
}

.contact {
  background: url("../assets/CONTACTO-FONDO.png");
  padding-top: 25px;
  padding-bottom: 80px;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.contact__container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact__container form .contact__inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
.contact__container form .contact__inputs-container :nth-child(3) {
  grid-area: 3/1/3/3;
}
.contact__container form .contact__inputs-container input, .contact__container form .contact__inputs-container textarea {
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
  padding: 18px 16px;
}
.contact__container form .contact__inputs-container input::placeholder, .contact__container form .contact__inputs-container textarea::placeholder {
  font: normal 400 16px/normal "Montserrat", sans-serif;
  color: #444444;
}
.contact__container form .contact__inputs-container input:focus-visible, .contact__container form .contact__inputs-container textarea:focus-visible {
  border: #c6c6c6;
}
.contact__container form .contact__button-container button {
  width: 100%;
  padding: 20px;
  background-color: #1F2D41;
  border-radius: 16px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.contact__container form .contact__button-container button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.26);
}
.contact__container form .contact__error-message {
  color: #FA4F4F;
  margin-top: 5px;
  margin-left: 5px;
}
.contact__container form .result {
  align-self: center;
  margin: 5px 0 15px 0;
}
.contact__container form .good-result h3 {
  color: black;
}
.contact__container form .bad-result h3 {
  color: #FA4F4F;
}

.footer {
  padding: 40px 0;
  background-color: #FA4F4F;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer h2 {
  margin-bottom: 10px;
}
.footer h4 {
  text-align: center;
}
.footer__contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font: normal 700 30px/normal "Montserrat", sans-serif;
}

h2 {
  font: normal 600 20px/normal "Montserrat", sans-serif;
}

h3 {
  font: normal 400 16px/normal "Montserrat", sans-serif;
}

h4 {
  font: normal 500 12px/normal "Montserrat", sans-serif;
}

h5 {
  font: normal 400 10px/normal "Montserrat", sans-serif;
}

p {
  font: normal 400 16px/normal "Montserrat", sans-serif;
}

.navbar__menu > li > a {
  font: normal 600 20px/normal "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font: normal 700 20px/normal "Montserrat", sans-serif;
  }
  h2 {
    font: normal 600 18px/normal "Montserrat", sans-serif;
  }
  h3 {
    font: normal 400 16px/normal "Montserrat", sans-serif;
  }
  h4 {
    font: normal 500 12px/normal "Montserrat", sans-serif;
  }
  h5 {
    font: normal 400 8px/normal "Montserrat", sans-serif;
  }
  p {
    font: normal 400 12px/normal "Montserrat", sans-serif;
  }
  .navbar__menu--opened > li > a {
    font: normal 600 18px/normal "Montserrat", sans-serif;
  }
  .about, .projects-container, .contact {
    padding: 0 20px;
  }
  .divider-custom .divider-custom-line {
    width: 60px;
  }
  .divider-custom .divider-custom-icon {
    font-size: 20px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .header, .header--full {
    padding: 20px;
  }
  .header--full {
    padding: 20px 20px 30px 20px;
  }
  .banner {
    margin-top: 70px;
    padding: 10px 0 40px 0;
  }
  .banner__foto {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }
  .about {
    padding-top: 36px;
    padding-bottom: 30px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 0;
  }
  .skills-techs-wraper {
    gap: 40px;
    margin-bottom: 40px;
  }
  .skills-techs-wraper h1 {
    padding: 20px 40px;
  }
  .skills-techs-wraper__skill-container {
    padding: 0 20px;
  }
  .skills-techs-wraper__skill-container--skill {
    grid-template-columns: 1fr 1.5fr 0.5fr;
  }
  .skills-techs-wraper .tech-container {
    padding: 0 20px;
    gap: 20px;
  }
  .skills-techs-wraper .tech-container__images {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .skills-techs-wraper .tech-container__images figure {
    width: 50px;
  }
  .projects-container {
    margin-bottom: 20px;
  }
  .projects-container__project-wraper {
    padding: 0 0 20px 0;
  }
  .projects-container__project {
    padding: 20px;
    width: 270px;
  }
  .projects-container__project .projects-container__project-content > figure {
    width: 80px;
  }
  .projects-container__project .projects-container__project-button button {
    font: normal 500 12px/normal "Montserrat", sans-serif;
    padding: 15px 0;
  }
  .contact {
    padding-top: 10px;
    padding-bottom: 80px;
  }
  .contact > .contact__container > form > .contact__inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .contact > .contact__container > form > .contact__inputs-container fieldset {
    width: 100%;
  }
  .contact > .contact__container > form > .contact__inputs-container fieldset input::placeholder, .contact > .contact__container > form > .contact__inputs-container fieldset form .contact__inputs-container textarea::placeholder, .contact > .contact__container > form > .contact__inputs-container form .contact__inputs-container fieldset textarea::placeholder {
    font: normal 400 16px/normal "Montserrat", sans-serif;
  }
  .contact > .contact__container > form > .contact__inputs-container fieldset textarea::placeholder {
    font: normal 400 16px/normal "Montserrat", sans-serif;
  }
  .contact > .contact__container > form > .contact__button-container > button {
    padding: 18px 0;
    font: normal 500 12px/normal "Montserrat", sans-serif;
  }
  .contact > .contact__container > form > .contact__error-message {
    font: normal 400 16px/normal "Montserrat", sans-serif;
  }
  .footer__contact-info {
    gap: 10px;
  }
  .modal {
    width: 75%;
  }
  .modal__content h2 {
    font: normal 600 18px/normal "Montserrat", sans-serif;
  }
  .modal__content figure {
    width: 110px;
  }
  .modal__close-button {
    padding: 16px;
  }
  .modal__close-button svg {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
